@model IEnumerable<Painel.Domain.Entities.LoggerModel>

@{
    ViewData["Title"] = "List";
}

<h3 class="text-center">Logger</h3>
@await Html.PartialAsync("_Filters")

<div class="table-responsive overflow-x-auto overflow-y-auto">
    <table class="table table-striped table-bordered">
        @await Html.PartialAsync("_ListTableHead")
        @await Html.PartialAsync("_ListTableBody")
    </table>
</div>

@await Html.PartialAsync("_ListPagination")