<div class="text-center">
    <label class="display-5">Exceptions</label>
</div>

<table id="exception-datatable" class="table table-hover table-sm table-dark">
    <thead>
        <tr>
            <th> Id </th>
            <th> Application Name </th>
            <th> Create Date </th>
            <th> Ocurred At </th>
            <th> Message </th>
            <th> Type Of </th>
            <th> Source </th>
            <th> Path </th>
            <th> Method </th>
            <th> Query String </th>
            <th> Request Body </th>
            <th> Stack Trace </th>
            <th> Request </th>
            <th> Response </th>
            <th> Log </th>
        </tr>
    </thead>
</table>
@section Scripts {
    <script type="module" src="~/js/tables/exception.js" asp-append-version="true"></script>
}