<div class="text-center">
    <label class="display-5">Requests</label>
</div>

<table id="request-datatable" class="table table-hover table-sm table-dark">
    <thead>
        <tr>
            <th> Id </th>
            <th> Application Name </th>
            <th> Create Date </th>
            <th> Start Time </th>
            <th> Path </th>
            <th> Method </th>
            <th> Host </th>
            <th> Ip Address </th>
            <th> Headers </th>
            <th> Request Body </th>
            <th> Query String </th>
            <th> Response </th>
            <th> Log </th>
            <th> Exception </th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script type="module" src="~/js/tables/request.js" asp-append-version="true"></script>
}